h1 {
    margin-left: 200px;
    padding-bottom: 50px;
    padding-top: 25px;
}

h2{
    padding-bottom: 5px;
}

.form{
    padding-bottom: 60px;
}

#totalSalaryDiv{
    margin-left: auto;
    max-width: 250px;
    max-height: 60px;
    text-align: right;
}




input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
    -moz-appearance: textfield;
}